.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f4a226;
}

.welcome-container {
  width: 100%;
  text-align: center;
  margin-right: 20px;
}

.logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.auth-button {
  margin-left: auto;
}