.logo-container {
  display: flex;
  justify-content: space-between;
    align-items: center;
  padding: 10px 20px;
  background-color: #f4a226;
}

.logo-text {
  flex-grow: 1;
  text-align: center;
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.welcome {
margin-right: 15px;
}
.user-name {
  margin-right: 20px;
}

.auth-button {
  margin-left: -111px;
  height: 50px;
}