.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f4a226;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.given-name {
  display: none;
}

.logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.auth-button {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .given-name {
    width: 100%;
    margin-right: 20px;
    font-size: 0.75em;
  }
}
